<div class="d-flex justify-content-center align-items-center vh-100">
  <!-- [formGroup]="programmeform" (ngSubmit)="addProgramme()" -->
  <form  [formGroup]="planificationform" (ngSubmit)="addPlanification()" class="w-50 bg-light p-4 rounded shadow">
     <div class="form-group">
       <label for="titre">Date</label>
       <input type="date" class="form-control" id="titre" formControlName="date">
     </div>
     <br>

     <div class="form-group">
       <label for="contenu">Description</label>
       <textarea class="form-control" id="contenu" formControlName="description" ></textarea>
     </div>
     <br>

     <div class="form-group mb-3">
      <label for="archivee">Archivée</label>
        <select class="form-control form-control-sm" id="archivee" formControlName="archive">
         <option value="true">Oui</option>
         <option value="false">Non</option>
        </select>
    </div>
     <br>

     <div class="form-group text-center">
       <button type="submit" class="btn btn-primary">Add</button>
    </div>
 </form>
</div>

