

<!-- [formGroup]="specialiteform" -->

<div class="d-flex justify-content-center align-items-center vh-100">
  <form  class="w-50 bg-light p-4 rounded shadow" [formGroup]="specialiteform"(ngSubmit)="addSpecialite()" >

    <div class="form-group">
      <label for="titre">Nom</label>
      <input type="text" class="form-control" id="titre"formControlName="nom">
    </div>
    <br>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" rows="4"></textarea>
    </div>
    <br>



    <div class="form-group mb-3">
      <label for="archivee">Archivée</label>
        <select class="form-control form-control-sm" id="archivee" formControlName="archive">
         <option value="true">Oui</option>
         <option value="false">Non</option>
        </select>
    </div>
    <br>

    <div class="form-group text-center">


      <button type="submit" class="btn btn-primary" >Add</button>
    </div>
  </form>
</div>



