

<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
   <div class="card shadow-sm" style="width: 100%; max-width: 500px;">
     <div class="card-header bg-success text-white">
         <h5 class="mb-0">Détails du ProjetFreeLance</h5>
     </div>
     <div class="card-body">
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>ID :</strong>{{projetfreelance?.id}} </li>
           <li class="list-group-item"><strong>Titre :</strong>{{projetfreelance?.title}} </li>
           <li class="list-group-item"><strong>description :</strong>{{projetfreelance?.description}} </li>
           <li class="list-group-item"><strong>planification :</strong>{{projetfreelance?.planification}} </li>
           <li class="list-group-item"><strong>statut :</strong>{{projetfreelance?.statut}} </li>
           <li class="list-group-item"><strong>date-Debut :</strong>{{projetfreelance?.dateDebut}} </li>
           <li class="list-group-item"><strong>date-Fin :</strong>{{projetfreelance?.dateFin}} </li>
           <li class="list-group-item"><strong>Archivé :</strong>{{projetfreelance?.archive}} </li>
           <li class="list-group-item"><strong>Formation :</strong> Développement Java</li>
        </ul>
     </div>
  </div>
</div>


