

<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card shadow-sm" style="width: 100%; max-width: 500px;">
     <div class="card-header bg-success text-white">
        <h5 class="mb-0">Détails du Rapport</h5>
     </div>
     <div class="card-body">
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>ID :</strong> {{rapport?.id}}</li>
           <li class="list-group-item"><strong>Date :</strong>{{rapport?.daterapport}} </li>
           <li class="list-group-item"><strong>competences :</strong>{{rapport?.competences}} </li>
           <li class="list-group-item"><strong>formationsuivie:</strong>{{rapport?.formationsuivie}} </li>

           <li class="list-group-item"><strong>Archivé :</strong>{{rapport?.score}}</li>
           <li class="list-group-item"><strong>Formation :</strong> Développement Java</li>
        </ul>
      </div>
   </div>
</div>


