

<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card shadow-sm" style="width: 100%; max-width: 500px;">
     <div class="card-header bg-success text-white">
        <h5 class="mb-0">Détails du Planification</h5>
     </div>
     <div class="card-body">
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>ID :</strong>{{planification?.id}} </li>
           <li class="list-group-item"><strong>Date :</strong> {{planification?.date}}</li>
           <li class="list-group-item"><strong>Description :</strong>{{planification?.description}} </li>
           <li class="list-group-item"><strong>Archivé :</strong> [{{planification?.archive}}</li>
           <li class="list-group-item"><strong>Formation :</strong> Développement Java</li>
        </ul>
      </div>
   </div>
</div>

