
<!-- ======================== -->


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="container">
  <!-- Title and Description -->
  <div class="mb-4">
    <h1 class="text-dark">Evenement</h1>
    <p class="text-muted">Consultez, recherchez et gérez vos formations à partir de ce tableau dynamique.</p>
  </div>

  <!-- Add Button -->

  <div class="mb-3">
    <button class="btn btn-primary btn-rounded" routerLink="/addevenement">
      <span class="material-icons align-middle" ></span> Ajouter une Evenement
    </button>
  </div>

  <!-- Table Card -->
  <div class="card p-3">
    <div class="table-responsive">
      <table id="formationTable" class="table table-bordered table-hover align-middle" style="width: 100%;">
        <thead class="table-light">
          <tr>

            <th >*</th>
            <th>Titre</th>
            <th>Date-Evenement </th>
            <th>Lieu </th>
            <th>description</th>
            <th>Archive</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let evenement of listevenement; let index = index">
                 <td>{{index + index}}</td>
                 <td>{{ evenement?.titre}}</td>
                <td >{{ evenement?.dateEvenement}}</td>
                <td>{{ evenement?.lieu}}</td>
                <td class="description-cell">{{ evenement?.description}}</td>
                <td><span class="badge bg-success"> {{ evenement?.archive ? 'Oui' : 'Non' }}</span></td>


            <td>
              <!-- Corrected the syntax for routerLink with space after 'me-1' -->

               <button class="btn btn-sm btn-info me-1" [routerLink]="['/detailevenement',evenement.id]">
                <i class="bi bi-eye"></i>
              </button>

              <button class="btn btn-sm btn-danger me-1" (click)="deleteEvenement(evenement.id)" >
                <i class="bi bi-trash"></i>
              </button>
              <!-- [routerLink]="['/update-planification',planification.id]" -->

              <button class="btn btn-sm btn-warning me-1"[routerLink]="['/updateevenement',evenement.id]">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-sm btn-secondary" (click)="archiveEvenement(evenement.id)"><i class="bi bi-folder"></i></button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



