
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="container mt-5">



  <h2 class="text-center mb-4">Liste des Candidats</h2>

  <div class="d-flex justify-content-end mb-4" routerLink="/addcandidat"><!-- routerLink="/addadmin" -->
    <button type="button" class="btn btn-success" >
      <i class="bi bi-plus-circle"></i> Ajouter
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- Carte administrateur -->

    <div class="col" *ngFor="let candidat of listcandidat; let i=index" >
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">{{ candidat?.nom }} {{ candidat ?.prenom }}</h5>
          <p class="card-text">
            <strong>Email :</strong> {{ candidat ?.email }}<br>
            <strong>Mot de passe :</strong>{{ candidat ?.motDePass }}<br>
            <strong>Rôle :</strong>{{ candidat ?.role}} <br>
            <strong>CIN:</strong>{{ candidat ?.cin}} <br>

<strong>Archivée :</strong>&nbsp;
  <span class="badge" [ngClass]="candidat?.archive ? 'bg-success' : 'bg-secondary'">
    {{ candidat?.archive ? 'Oui' : 'Non' }}
  </span><br><br>

          </p>
        </div>
        <div class="card-footer d-flex justify-content-between flex-wrap gap-2">


<!-- __________________________________ -->


          <button class="btn btn-sm btn-warning" [routerLink]="['/updatecandidat',candidat.id]">
            <i class="bi bi-pencil-square"></i>
          </button>

<button class="btn btn-sm btn-danger" (click)="deleteCandidat(candidat.id)">
<i class="bi bi-trash"></i>
          </button>
          <!-- ___________________ -->
          

          <button  class="btn btn-sm btn-secondary"(click)="archiveCandidat(candidat.id)" >
            <i class="bi bi-folder"></i>
          </button>
          <!-- _______________ -->
          <button class="btn btn-sm btn-success">
            <i class="bi bi-folder-symlink"></i>
          </button>
          <!-- _____________ -->
        </div>
      </div>
    </div>

